In [2]:
import pandas as pd
import numpy as np

data_path = 'Datasets/pred_churn_test.csv'
df1 = pd.read_csv(data_path)
df1.head()

,Unnamed: 0,tenure,MonthlyCharges,TotalCharges,Female,Male,No,Yes,No.1,Yes.1,...,No internet service.4,Yes.9,No.11,Yes.10,Bank transfer (automatic),Credit card (automatic),Electronic check,Mailed check,Churn,Pred_Churn
0,0,1,20.65,20.65,0,1,1,0,1,0,...,1,0,1,0,0,0,1,0,0,0.282073
1,1,16,20.60,330.25,0,1,1,0,1,0,...,1,0,0,1,0,1,0,0,0,0.114897
2,2,1,19.80,19.80,1,0,1,0,1,0,...,1,0,1,0,0,1,0,0,0,0.179560
3,3,1,24.25,24.25,0,1,1,0,1,0,...,0,0,0,1,0,0,1,0,1,0.692825
4,4,1,74.40,74.40,0,1,0,1,1,0,...,0,0,0,1,0,0,1,0,1,0.839072

In [3]:
df1.shape

(1407, 43)

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1407 entries, 0 to 1406
Data columns (total 43 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 1407 non-null   int64
 1   tenure                     1407 non-null   int64
 2   MonthlyCharges             1407 non-null   float64
 3   TotalCharges               1407 non-null   float64
 4   Female                     1407 non-null   int64
 5   Male                       1407 non-null   int64
 6   No                         1407 non-null   int64
 7   Yes                        1407 non-null   int64
 8   No.1                       1407 non-null   int64
 9   Yes.1                      1407 non-null   int64
 10  No.2                       1407 non-null   int64
 11  Yes.2                      1407 non-null   int64
 12  No.3                       1407 non-null   int64
 13  Yes.3                      1407 non-null   int64
 14  No.4                       1407 non-null   int64
 15  No phone service           1407 non-null   int64
 16  Yes.4                      1407 non-null   int64
 17  DSL                        1407 non-null   int64
 18  Fiber optic                1407 non-null   int64
 19  No.5                       1407 non-null   int64
 20  No.6                       1407 non-null   int64
 21  No internet service        1407 non-null   int64
 22  Yes.5                      1407 non-null   int64
 23  No.7                       1407 non-null   int64
 24  No internet service.1      1407 non-null   int64
 25  Yes.6                      1407 non-null   int64
 26  No.8                       1407 non-null   int64
 27  No internet service.2      1407 non-null   int64
 28  Yes.7                      1407 non-null   int64
 29  No.9                       1407 non-null   int64
 30  No internet service.3      1407 non-null   int64
 31  Yes.8                      1407 non-null   int64
 32  No.10                      1407 non-null   int64
 33  No internet service.4      1407 non-null   int64
 34  Yes.9                      1407 non-null   int64
 35  No.11                      1407 non-null   int64
 36  Yes.10                     1407 non-null   int64
 37  Bank transfer (automatic)  1407 non-null   int64
 38  Credit card (automatic)    1407 non-null   int64
 39  Electronic check           1407 non-null   int64
 40  Mailed check               1407 non-null   int64
 41  Churn                      1407 non-null   int64
 42  Pred_Churn                 1407 non-null   float64
dtypes: float64(3), int64(40)
memory usage: 472.8 KB

In [5]:
df = df1.loc[:, df1.columns != 'customerID']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1407 entries, 0 to 1406
Data columns (total 43 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 1407 non-null   int64
 1   tenure                     1407 non-null   int64
 2   MonthlyCharges             1407 non-null   float64
 3   TotalCharges               1407 non-null   float64
 4   Female                     1407 non-null   int64
 5   Male                       1407 non-null   int64
 6   No                         1407 non-null   int64
 7   Yes                        1407 non-null   int64
 8   No.1                       1407 non-null   int64
 9   Yes.1                      1407 non-null   int64
 10  No.2                       1407 non-null   int64
 11  Yes.2                      1407 non-null   int64
 12  No.3                       1407 non-null   int64
 13  Yes.3                      1407 non-null   int64
 14  No.4                       1407 non-null   int64
 15  No phone service           1407 non-null   int64
 16  Yes.4                      1407 non-null   int64
 17  DSL                        1407 non-null   int64
 18  Fiber optic                1407 non-null   int64
 19  No.5                       1407 non-null   int64
 20  No.6                       1407 non-null   int64
 21  No internet service        1407 non-null   int64
 22  Yes.5                      1407 non-null   int64
 23  No.7                       1407 non-null   int64
 24  No internet service.1      1407 non-null   int64
 25  Yes.6                      1407 non-null   int64
 26  No.8                       1407 non-null   int64
 27  No internet service.2      1407 non-null   int64
 28  Yes.7                      1407 non-null   int64
 29  No.9                       1407 non-null   int64
 30  No internet service.3      1407 non-null   int64
 31  Yes.8                      1407 non-null   int64
 32  No.10                      1407 non-null   int64
 33  No internet service.4      1407 non-null   int64
 34  Yes.9                      1407 non-null   int64
 35  No.11                      1407 non-null   int64
 36  Yes.10                     1407 non-null   int64
 37  Bank transfer (automatic)  1407 non-null   int64
 38  Credit card (automatic)    1407 non-null   int64
 39  Electronic check           1407 non-null   int64
 40  Mailed check               1407 non-null   int64
 41  Churn                      1407 non-null   int64
 42  Pred_Churn                 1407 non-null   float64
dtypes: float64(3), int64(40)
memory usage: 472.8 KB

In [6]:
X = df.loc[:, df.columns != 'Churn']
Y = df.loc[:, df.columns == 'Churn']

In [7]:
# display categorical variables

categorical = [col for col in X.columns if X[col].dtypes == 'O']
#if datatype is 0 then its categoriccal variables
categorical

[]

In [8]:
# display numerical variables

numerical = [col for col in X.columns if X[col].dtypes != 'O']
#if datatype is 1 then its numercial variables

numerical

['Unnamed: 0',
 'tenure',
 'MonthlyCharges',
 'TotalCharges',
 'Female',
 'Male',
 'No',
 'Yes',
 'No.1',
 'Yes.1',
 'No.2',
 'Yes.2',
 'No.3',
 'Yes.3',
 'No.4',
 'No phone service',
 'Yes.4',
 'DSL',
 'Fiber optic',
 'No.5',
 'No.6',
 'No internet service',
 'Yes.5',
 'No.7',
 'No internet service.1',
 'Yes.6',
 'No.8',
 'No internet service.2',
 'Yes.7',
 'No.9',
 'No internet service.3',
 'Yes.8',
 'No.10',
 'No internet service.4',
 'Yes.9',
 'No.11',
 'Yes.10',
 'Bank transfer (automatic)',
 'Credit card (automatic)',
 'Electronic check',
 'Mailed check',
 'Pred_Churn']

In [9]:
X[numerical].isnull().sum()

Unnamed: 0                   0
tenure                       0
MonthlyCharges               0
TotalCharges                 0
Female                       0
Male                         0
No                           0
Yes                          0
No.1                         0
Yes.1                        0
No.2                         0
Yes.2                        0
No.3                         0
Yes.3                        0
No.4                         0
No phone service             0
Yes.4                        0
DSL                          0
Fiber optic                  0
No.5                         0
No.6                         0
No internet service          0
Yes.5                        0
No.7                         0
No internet service.1        0
Yes.6                        0
No.8                         0
No internet service.2        0
Yes.7                        0
No.9                         0
No internet service.3        0
Yes.8                        0
No.10                        0
No internet service.4        0
Yes.9                        0
No.11                        0
Yes.10                       0
Bank transfer (automatic)    0
Credit card (automatic)      0
Electronic check             0
Mailed check                 0
Pred_Churn                   0
dtype: int64

In [10]:
X[categorical].isnull().sum()

Series([], dtype: float64)

In [11]:
# X_dum = pd.concat([X[numerical],pd.get_dummies(X.gender),pd.get_dummies(X.SeniorCitizen)],axis=1)
# #get dummy variables for gender and senior citizen
# #axis=1 is columnwise

AttributeError: 'DataFrame' object has no attribute 'gender'

In [12]:
# X_dum.head()

NameError: name 'X_dum' is not defined

In [13]:
# X_dum = pd.concat([X[numerical],
#                      pd.get_dummies(X.gender),
#                      pd.get_dummies(X.SeniorCitizen),
#                      pd.get_dummies(X.Partner),
#                      pd.get_dummies(X.Dependents),
#                      pd.get_dummies(X.PhoneService),
#                      pd.get_dummies(X.MultipleLines),
#                      pd.get_dummies(X.InternetService),
#                      pd.get_dummies(X.OnlineSecurity),
#                      pd.get_dummies(X.OnlineBackup),
#                      pd.get_dummies(X.TechSupport),
#                      pd.get_dummies(X.StreamingTV),
#                      pd.get_dummies(X.StreamingMovies),
#                      pd.get_dummies(X.PaperlessBilling),
#                      pd.get_dummies(X.PaymentMethod)],axis=1)

In [14]:
# X_dum.head()

,tenure,MonthlyCharges,TotalCharges,Female,Male,No,Yes,No,Yes,No,...,Yes,No,No internet service,Yes,No,Yes,Bank transfer (automatic),Credit card (automatic),Electronic check,Mailed check
0,1,29.85,29.85,1,0,1,0,0,1,1,...,0,1,0,0,0,1,0,0,1,0
1,34,56.95,1889.50,0,1,1,0,1,0,1,...,0,1,0,0,1,0,0,0,0,1
2,2,53.85,108.15,0,1,1,0,1,0,1,...,0,1,0,0,0,1,0,0,0,1
3,45,42.30,1840.75,0,1,1,0,1,0,1,...,0,1,0,0,1,0,1,0,0,0
4,2,70.70,151.65,1,0,1,0,1,0,1,...,0,1,0,0,0,1,0,0,1,0

In [91]:
# X_dum.columns

Index(['tenure', 'MonthlyCharges', 'TotalCharges', 'Female', 'Male', 'No',
       'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'No phone service',
       'Yes', 'DSL', 'Fiber optic', 'No', 'No', 'No internet service', 'Yes',
       'No', 'No internet service', 'Yes', 'No', 'No internet service', 'Yes',
       'No', 'No internet service', 'Yes', 'No', 'No internet service', 'Yes',
       'No', 'Yes', 'Bank transfer (automatic)', 'Credit card (automatic)',
       'Electronic check', 'Mailed check'],
      dtype='object')

In [13]:
# split X and y into training and testing sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [14]:
# train a logistic regression model on the training set
from sklearn.linear_model import LogisticRegression


# instantiate the model
logreg = LogisticRegression(solver='liblinear', random_state=0)


# fit the model
logreg.fit(X_train, y_train)

C:\Users\nisha\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(random_state=0, solver='liblinear')

In [15]:
y_pred_test = logreg.predict_proba(X_test)

y_pred_test
#for each record it will give two columns, probability of churning and probablity of not churning

array([[0.58361814, 0.41638186],
       [0.82073159, 0.17926841],
       [0.84925676, 0.15074324],
       [0.38849835, 0.61150165],
       [0.95477691, 0.04522309],
       [0.99268328, 0.00731672],
       [0.52887132, 0.47112868],
       [0.71450108, 0.28549892],
       [0.33720918, 0.66279082],
       [0.91441455, 0.08558545],
       [0.91103158, 0.08896842],
       [0.87552714, 0.12447286],
       [0.95393819, 0.04606181],
       [0.94099304, 0.05900696],
       [0.81174442, 0.18825558],
       [0.72935325, 0.27064675],
       [0.97702567, 0.02297433],
       [0.98063354, 0.01936646],
       [0.22585981, 0.77414019],
       [0.76374736, 0.23625264],
       [0.85632523, 0.14367477],
       [0.98608099, 0.01391901],
       [0.95307528, 0.04692472],
       [0.98330239, 0.01669761],
       [0.28777735, 0.71222265],
       [0.82340057, 0.17659943],
       [0.97160107, 0.02839893],
       [0.70833118, 0.29166882],
       [0.94033351, 0.05966649],
       [0.99210434, 0.00789566],
       [0.7781832 , 0.2218168 ],
       [0.97423514, 0.02576486],
       [0.92647245, 0.07352755],
       [0.80736707, 0.19263293],
       [0.6821627 , 0.3178373 ],
       [0.76896295, 0.23103705],
       [0.82806085, 0.17193915],
       [0.41075606, 0.58924394],
       [0.90564379, 0.09435621],
       [0.99274435, 0.00725565],
       [0.38855677, 0.61144323],
       [0.84939248, 0.15060752],
       [0.20571171, 0.79428829],
       [0.66059245, 0.33940755],
       [0.9184402 , 0.0815598 ],
       [0.82361694, 0.17638306],
       [0.89205429, 0.10794571],
       [0.99316826, 0.00683174],
       [0.23052404, 0.76947596],
       [0.31989012, 0.68010988],
       [0.33624597, 0.66375403],
       [0.49062866, 0.50937134],
       [0.84370557, 0.15629443],
       [0.54104618, 0.45895382],
       [0.92814817, 0.07185183],
       [0.71642363, 0.28357637],
       [0.67734349, 0.32265651],
       [0.33158628, 0.66841372],
       [0.30703206, 0.69296794],
       [0.9959175 , 0.0040825 ],
       [0.5509179 , 0.4490821 ],
       [0.94885039, 0.05114961],
       [0.68722266, 0.31277734],
       [0.93788204, 0.06211796],
       [0.53981436, 0.46018564],
       [0.78659665, 0.21340335],
       [0.64385598, 0.35614402],
       [0.89520603, 0.10479397],
       [0.94857899, 0.05142101],
       [0.98673761, 0.01326239],
       [0.99554789, 0.00445211],
       [0.54136414, 0.45863586],
       [0.4350417 , 0.5649583 ],
       [0.95619923, 0.04380077],
       [0.87940802, 0.12059198],
       [0.55122769, 0.44877231],
       [0.28898444, 0.71101556],
       [0.89586215, 0.10413785],
       [0.67911045, 0.32088955],
       [0.69050936, 0.30949064],
       [0.64152717, 0.35847283],
       [0.89900044, 0.10099956],
       [0.59863136, 0.40136864],
       [0.84602868, 0.15397132],
       [0.80079866, 0.19920134],
       [0.94488411, 0.05511589],
       [0.86934695, 0.13065305],
       [0.97508171, 0.02491829],
       [0.68492062, 0.31507938],
       [0.98192187, 0.01807813],
       [0.99571552, 0.00428448],
       [0.90821073, 0.09178927],
       [0.99475086, 0.00524914],
       [0.30726329, 0.69273671],
       [0.17300479, 0.82699521],
       [0.31487005, 0.68512995],
       [0.63175043, 0.36824957],
       [0.81064758, 0.18935242],
       [0.93497287, 0.06502713],
       [0.91561243, 0.08438757],
       [0.99688262, 0.00311738],
       [0.68787436, 0.31212564],
       [0.35557337, 0.64442663],
       [0.72755471, 0.27244529],
       [0.88194313, 0.11805687],
       [0.41377949, 0.58622051],
       [0.76576965, 0.23423035],
       [0.54461637, 0.45538363],
       [0.91282806, 0.08717194],
       [0.98514307, 0.01485693],
       [0.96850225, 0.03149775],
       [0.96675198, 0.03324802],
       [0.42171286, 0.57828714],
       [0.80977395, 0.19022605],
       [0.9032869 , 0.0967131 ],
       [0.62157972, 0.37842028],
       [0.94009563, 0.05990437],
       [0.57885212, 0.42114788],
       [0.73312513, 0.26687487],
       [0.53628986, 0.46371014],
       [0.97965234, 0.02034766],
       [0.23711013, 0.76288987],
       [0.96995908, 0.03004092],
       [0.79897168, 0.20102832],
       [0.92775476, 0.07224524],
       [0.99426415, 0.00573585],
       [0.83456533, 0.16543467],
       [0.89024874, 0.10975126],
       [0.51526665, 0.48473335],
       [0.27556645, 0.72443355],
       [0.49096721, 0.50903279],
       [0.98719884, 0.01280116],
       [0.993261  , 0.006739  ],
       [0.99027206, 0.00972794],
       [0.82177974, 0.17822026],
       [0.98412456, 0.01587544],
       [0.80696413, 0.19303587],
       [0.83054255, 0.16945745],
       [0.68108672, 0.31891328],
       [0.9100651 , 0.0899349 ],
       [0.23395912, 0.76604088],
       [0.99245013, 0.00754987],
       [0.60222934, 0.39777066],
       [0.9504573 , 0.0495427 ],
       [0.24238664, 0.75761336],
       [0.70881288, 0.29118712],
       [0.93242267, 0.06757733],
       [0.98652609, 0.01347391],
       [0.97383153, 0.02616847],
       [0.57671919, 0.42328081],
       [0.92946805, 0.07053195],
       [0.90497468, 0.09502532],
       [0.94621689, 0.05378311],
       [0.32510271, 0.67489729],
       [0.63475381, 0.36524619],
       [0.22929954, 0.77070046],
       [0.47227414, 0.52772586],
       [0.73749042, 0.26250958],
       [0.69328673, 0.30671327],
       [0.98563013, 0.01436987],
       [0.97161947, 0.02838053],
       [0.76136628, 0.23863372],
       [0.76456757, 0.23543243],
       [0.88055028, 0.11944972],
       [0.98537082, 0.01462918],
       [0.84273254, 0.15726746],
       [0.82500424, 0.17499576],
       [0.7642337 , 0.2357663 ],
       [0.41927004, 0.58072996],
       [0.71491801, 0.28508199],
       [0.82347547, 0.17652453],
       [0.45760721, 0.54239279],
       [0.86194126, 0.13805874],
       [0.64188492, 0.35811508],
       [0.3303212 , 0.6696788 ],
       [0.97259975, 0.02740025],
       [0.68884238, 0.31115762],
       [0.49435953, 0.50564047],
       [0.49265537, 0.50734463],
       [0.99591106, 0.00408894],
       [0.99566265, 0.00433735],
       [0.40836452, 0.59163548],
       [0.8947645 , 0.1052355 ],
       [0.91380592, 0.08619408],
       [0.96353534, 0.03646466],
       [0.788742  , 0.211258  ],
       [0.94225211, 0.05774789],
       [0.98901357, 0.01098643],
       [0.65472651, 0.34527349],
       [0.91005732, 0.08994268],
       [0.97067811, 0.02932189],
       [0.31093215, 0.68906785],
       [0.45051366, 0.54948634],
       [0.62245886, 0.37754114],
       [0.3639943 , 0.6360057 ],
       [0.85212365, 0.14787635],
       [0.96694738, 0.03305262],
       [0.95571663, 0.04428337],
       [0.93611883, 0.06388117],
       [0.79080727, 0.20919273],
       [0.5565509 , 0.4434491 ],
       [0.93305034, 0.06694966],
       [0.89292813, 0.10707187],
       [0.35872611, 0.64127389],
       [0.45374166, 0.54625834],
       [0.84762265, 0.15237735],
       [0.44758238, 0.55241762],
       [0.98630675, 0.01369325],
       [0.99020195, 0.00979805],
       [0.94895955, 0.05104045],
       [0.94688466, 0.05311534],
       [0.9330627 , 0.0669373 ],
       [0.99194578, 0.00805422],
       [0.99554438, 0.00445562],
       [0.8147268 , 0.1852732 ],
       [0.47742324, 0.52257676],
       [0.85006955, 0.14993045],
       [0.86270319, 0.13729681],
       [0.16817646, 0.83182354],
       [0.81329809, 0.18670191],
       [0.97463969, 0.02536031],
       [0.90899733, 0.09100267],
       [0.882731  , 0.117269  ],
       [0.85630554, 0.14369446],
       [0.4349977 , 0.5650023 ],
       [0.23678775, 0.76321225],
       [0.7453995 , 0.2546005 ],
       [0.88860265, 0.11139735],
       [0.52334249, 0.47665751],
       [0.50011861, 0.49988139],
       [0.37589546, 0.62410454],
       [0.94356983, 0.05643017],
       [0.19708923, 0.80291077],
       [0.94471085, 0.05528915],
       [0.76492468, 0.23507532],
       [0.97061567, 0.02938433],
       [0.96681858, 0.03318142],
       [0.97366936, 0.02633064],
       [0.75475277, 0.24524723],
       [0.86241246, 0.13758754],
       [0.7791447 , 0.2208553 ],
       [0.88653911, 0.11346089],
       [0.63761686, 0.36238314],
       [0.88463363, 0.11536637],
       [0.42262392, 0.57737608],
       [0.20848679, 0.79151321],
       [0.82329629, 0.17670371],
       [0.98735754, 0.01264246],
       [0.64057885, 0.35942115],
       [0.91935807, 0.08064193],
       [0.32663806, 0.67336194],
       [0.78377209, 0.21622791],
       [0.33268636, 0.66731364],
       [0.30896198, 0.69103802],
       [0.85172749, 0.14827251],
       [0.74131067, 0.25868933],
       [0.2353825 , 0.7646175 ],
       [0.58444802, 0.41555198],
       [0.92749347, 0.07250653],
       [0.97481122, 0.02518878],
       [0.9964916 , 0.0035084 ],
       [0.98873544, 0.01126456],
       [0.3038978 , 0.6961022 ],
       [0.92151946, 0.07848054],
       [0.9821511 , 0.0178489 ],
       [0.98845634, 0.01154366],
       [0.97649351, 0.02350649],
       [0.80569341, 0.19430659],
       [0.93644256, 0.06355744],
       [0.90571076, 0.09428924],
       [0.9872505 , 0.0127495 ],
       [0.97197716, 0.02802284],
       [0.61407275, 0.38592725],
       [0.94327015, 0.05672985],
       [0.66178699, 0.33821301],
       [0.37436691, 0.62563309],
       [0.26412238, 0.73587762],
       [0.34890689, 0.65109311],
       [0.85616858, 0.14383142],
       [0.93351972, 0.06648028],
       [0.54944151, 0.45055849],
       [0.90457453, 0.09542547]])

In [16]:
y_pred_test_class = logreg.predict(X_test)
#Ytrain will have only dependent variable,Xtest will have independent variable

In [17]:
from sklearn import metrics
confusion_matrix = metrics.confusion_matrix(y_test, y_pred_test_class)
confusion_matrix

array([[186,  20],
       [ 39,  37]], dtype=int64)

In [18]:
X_test = pd.DataFrame(X_test)
churn_pred = pd.DataFrame(y_pred_test)
churn_pred.columns = ['No_Churn','Churn']
churn_pred.head()
X_test

,Unnamed: 0,tenure,MonthlyCharges,TotalCharges,Female,Male,No,Yes,No.1,Yes.1,...,No.10,No internet service.4,Yes.9,No.11,Yes.10,Bank transfer (automatic),Credit card (automatic),Electronic check,Mailed check,Pred_Churn
1229,1229,4,80.60,319.15,0,1,1,0,0,1,...,1,0,0,0,1,0,0,0,1,0.491914
315,315,60,89.45,5294.60,1,0,0,1,0,1,...,0,0,1,1,0,0,0,1,0,0.222116
224,224,11,20.45,237.30,0,1,1,0,1,0,...,0,1,0,0,1,0,1,0,0,0.152200
609,609,36,99.15,3615.60,1,0,1,0,1,0,...,0,0,1,0,1,0,0,1,0,0.511375
1237,1237,71,80.70,5705.05,1,0,1,0,0,1,...,0,0,1,0,1,0,1,0,0,0.023630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1058,1058,3,91.50,242.95,1,0,1,0,0,1,...,0,0,1,0,1,0,1,0,0,0.671705
921,921,26,60.70,1597.40,1,0,0,1,0,1,...,0,0,1,1,0,0,0,0,1,0.217847
1015,1015,64,96.90,6314.35,1,0,1,0,0,1,...,0,0,1,0,1,0,0,0,1,0.071244
303,303,1,44.65,44.65,0,1,1,0,1,0,...,0,0,1,0,1,0,0,0,1,0.451325
461,461,47,96.10,4391.45,0,1,1,0,0,1,...,0,0,1,0,1,0,0,1,0,0.194884

In [19]:
test_data = pd.concat ([X_test,y_test],axis = 1)
test_data

,Unnamed: 0,tenure,MonthlyCharges,TotalCharges,Female,Male,No,Yes,No.1,Yes.1,...,No internet service.4,Yes.9,No.11,Yes.10,Bank transfer (automatic),Credit card (automatic),Electronic check,Mailed check,Pred_Churn,Churn
1229,1229,4,80.60,319.15,0,1,1,0,0,1,...,0,0,0,1,0,0,0,1,0.491914,1
315,315,60,89.45,5294.60,1,0,0,1,0,1,...,0,1,1,0,0,0,1,0,0.222116,0
224,224,11,20.45,237.30,0,1,1,0,1,0,...,1,0,0,1,0,1,0,0,0.152200,0
609,609,36,99.15,3615.60,1,0,1,0,1,0,...,0,1,0,1,0,0,1,0,0.511375,1
1237,1237,71,80.70,5705.05,1,0,1,0,0,1,...,0,1,0,1,0,1,0,0,0.023630,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1058,1058,3,91.50,242.95,1,0,1,0,0,1,...,0,1,0,1,0,1,0,0,0.671705,1
921,921,26,60.70,1597.40,1,0,0,1,0,1,...,0,1,1,0,0,0,0,1,0.217847,0
1015,1015,64,96.90,6314.35,1,0,1,0,0,1,...,0,1,0,1,0,0,0,1,0.071244,0
303,303,1,44.65,44.65,0,1,1,0,1,0,...,0,1,0,1,0,0,0,1,0.451325,1
461,461,47,96.10,4391.45,0,1,1,0,0,1,...,0,1,0,1,0,0,1,0,0.194884,0

In [21]:
test_data.reset_index(drop=True, inplace=True)
churn_pred.reset_index(drop=True, inplace=True)
#adding predicted column


df_pred = pd.concat( [test_data, churn_pred], axis=1) 
df_pred.to_csv('C:/Users/nisha/OneDrive/Desktop/IV Sem/ML/churn/Output/predicted_churn.csv')

In [22]:
print('\nTrue Positives(TP) = ', confusion_matrix[0,0])

print('\nTrue Negatives(TN) = ', confusion_matrix[1,1])

print('\nFalse Positives(FP) = ', confusion_matrix[0,1])

print('\nFalse Negatives(FN) = ', confusion_matrix[1,0])

True Positives(TP) =  186

True Negatives(TN) =  37

False Positives(FP) =  20

False Negatives(FN) =  39

A false positive is when we determines something is true when it is actually false (also called a type I error)
A false negative is saying something is false when it is actually true (also called a type II error)

precision = TP/ (TP+FP)

recall = TP/ (TP+FN)

specificity = TN/(TN+FP)

sensitivity = recall

F1 = 2 x precision x recall / (precision + recall)

accuracy = TP+TN / n